<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DevShop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link type="text/css" href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="fragments/header :: header">...</div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <span class="mdl-layout-title"
                  th:if="${searchModel == null || !searchModel.isArchivedView() && !searchModel.isSearchResultView()}">You are now viewing ALL products</span>
            <span class="mdl-layout-title" th:if="${searchModel != null && searchModel.isArchivedView()}"
                  th:text="'You are now viewing all ARCHIVED products'"></span>
            <span class="mdl-layout-title"
                  th:if="${searchModel != null && searchModel.isSearchResultView() && !searchModel.isSearchFailure() && !searchModel.isActiveFilters()}"
                  th:text="'You are now viewing your searchresults for ' + ${searchModel.getSearchRequest().toUpperCase()}"></span>
            <span class="mdl-layout-title"
                  th:if="${searchModel != null && searchModel.isSearchResultView() && !searchModel.isSearchFailure() && searchModel.isActiveFilters()}"
                  th:text="'You are now viewing your searchresults for ' + ${searchModel.getSearchRequest().toUpperCase()} + ${searchModel.getAppliedFiltersHeader()}"></span>
            <span class="mdl-layout-title"
                  th:if="${searchModel != null && searchModel.isSearchResultView() && searchModel.isSearchFailure()}"
                  th:text="'After searching ' + ${searchModel.getSearchRequest().toUpperCase()} + ' we found nothing with the applied filters, so we\'re showing ALL'"></span>
            <div style="overflow-y: scroll; max-height: 700px; min-height: 700px;">
                <ul class="product-list-item mdl-list mdl-color--grey-100 mdl-shadow--8dp"
                    th:each="product : ${productlist.products}">
                    <li class="mdl-list__item mdl-list__item--three-line product-tile">
                    <span class="mdl-list__item-primary-content">
                        <a th:href="@{/products/details/{id}(id=${product.id})}" style="text-decoration: none">
                        <em class="material-icons mdl-list__item-avatar" data-th-title="Details"
                            style="width: 140px; height: 140px">photo</em>
                        </a>
                        <span th:text="${product.name}">Product Name</span>
                        <span class="mdl-list__item-text-body"
                              style="font-size: x-large; padding-top: 30px; line-height: 25px">
                            [[${product.description}]]
                        </span>
                    </span>
                        <div class="average-rating" th:if="${product.averageRating != 0}">
                            <em class="material-icons mdl-list__item-secondary-content"
                                style="font-size: 36px">grade</em>
                            <span class="mdl-list__item-secondary-content"
                                  style="padding-bottom: 50px; padding-top: 7px"
                                  th:text="${product.averageRating}">
                            </span>
                        </div>
                        <span class="mdl-list__item-secondary-content" style="padding-top: 4%">
                        <span class="mdl-list__item-text-body"
                              style="font-size: x-large; padding-top: 55px; padding-bottom: 30px"
                              th:text="'€ ' + ${product.price}">Product Price</span>
                            <form th:object="${product}" method="post" th:action="@{/products}">
                            <input type="hidden" name="id" th:value="${product.id}"/>
                            <span sec:authorize="!hasRole('ROLE_ADMIN')" class="mdl-list__item-secondary-action">
                                    <button th:disabled="${#sets.contains(cart.cartProductsIdSet,product.id)}">
                                        <em th:if="${!#sets.contains(cart.cartProductsIdSet,product.id)}"
                                            class="material-icons cart-icon">add_shopping_cart</em>
                                        <em th:if="${#sets.contains(cart.cartProductsIdSet,product.id)}"
                                            class="material-icons cart-icon-disabled">add_shopping_cart</em>
                                    </button>
                                </span>
                        </form>
                    </span>
                    </li>
                </ul>
            </div>
            <br>
            <!-- pagination bar -->
            <div class="mdl-shadow--8dp pagination-bar pagination-href">
                <span class="pagination-sizeselect pagination-numbers">
                <form th:action="@{/pagination/size/{size}(size=${pageSize})}" method="post">
                    <label for="myselect">Products per page</label>
                    <select id="myselect" name="pageSize"
                            class="pagination-sizeselect-dropdown pagination-sizeselect-dropdown-select"
                            onchange='if(this.value != 0) { this.form.submit(); }'>
                        <option th:each="pageSize : ${pageSizeList}" th:text="${pageSize}" th:value="${pageSize}"
                                th:selected="(${selectedPageSize} == ${pageSize})"></option>
                    </select>
                </form>
                </span>
                <span class="pagination-bar-pagenavigation">
                    <span class="pagination-bar-pagenavigation-first">
                        <a th:class="${productlist.hasPrevious} ? 'pagination-link' : 'pagination-link-disabled'"
                           th:href="@{/pagination/first}" style="text-decoration: none;">
                            <em class="material-icons pagination-icons">skip_previous</em>
                        </a>
                    </span>
                    <span class="pagination-bar-pagenavigation-previous">
                        <a th:if="${productlist.hasPrevious}" class="pagination-link"
                           th:href="@{/pagination/previous}" style="text-decoration: none;">
                            <em class="pagination-numbers" th:text="${productlist.currentPage}">1</em>
                        </a>
                    </span>
                    <span class="pagination-bar-pagenavigation-current">
                        <a class="pagination-link-disabled" href="" style="text-decoration: none;">
                            <em class="pagination-numbers" th:text="${productlist.currentPage} + 1"></em>
                        </a>
                    </span>
                    <span class="pagination-bar-pagenavigation-next">
                        <a th:if="${productlist.hasNext}" class="pagination-link"
                           th:href="@{/pagination/next}" style="text-decoration: none;">
                            <em class="pagination-numbers" th:text="${productlist.currentPage} + 2">3</em>
                        </a>
                    </span>
                    <span class="pagination-bar-pagenavigation-last">
                        <a th:class="${productlist.hasNext} ? 'pagination-link' : 'pagination-link-disabled'"
                           th:href="@{/pagination/last/{lastPage}(lastPage=${productlist.totalPages} -1)}"
                           style="text-decoration: none;">
                            <em class="material-icons pagination-icons">skip_next</em>
                        </a>
                    </span>
                </span>
                <span class="pagination-bar-pagecount pagination-numbers">
                    <label th:text="${productlist.totalPages > 0} ? ${productlist.currentPage + 1} : 0">PAGES</label>
                    <label> / </label>
                    <label th:text="${productlist.totalPages}">PAGES</label>
                </span>

            </div>
        </div>
        <!--search filters-->
        <div class="search-filters" style="min-height: 1000px;">
            <ul class="search-filters-list-box mdl-list mdl-color--grey-100 mdl-shadow--8dp">
                <li class="mdl-list__item mdl-list__item--three-line">
                    <!--sort-icons-->
                    <div class="sorting">
                        <a th:if="${searchModel != null && !searchModel.isArchivedView() || searchModel == null}"
                           th:href="@{/search/sortbyname}">
                            <em class="material-icons mdl-list__item-avatar mdl-color--blue"
                                data-th-title="Alfabetically">sort</em>
                        </a>
                        <a th:if="${searchModel != null && searchModel.isArchivedView()}"
                           th:href="@{/search/archived/sortbyname}">
                            <em class="material-icons mdl-list__item-avatar mdl-color--blue"
                                data-th-title="Alfabetically">sort</em>
                        </a>
                        <div class="sorting-text">sort by name</div>
                        <a th:if="${searchModel != null && !searchModel.isArchivedView() || searchModel == null}"
                           th:href="@{/search/sortbyprice}">
                            <em class="material-icons mdl-list__item-avatar mdl-color--blue"
                                data-th-title="Price">sort</em>
                        </a>
                        <a th:if="${searchModel != null && searchModel.isArchivedView()}"
                           th:href="@{/search/archived/sortbyprice}">
                            <em class="material-icons mdl-list__item-avatar mdl-color--blue"
                                data-th-title="Price">sort</em>
                        </a>
                        <div class="sorting-text">sort by price</div>
                    </div>
                    <!--price-sliders-->
                    <div class="mdl-textfield__label sorting-text slider-low slider-low-title">select minimum price
                    </div>
                    <form class="search-filters slider-low" method="get" th:action="@{/search/pricelow/}"
                          id="priceLowForm">
                        <div class="range-wrap">
                            <input class="mdl-slider mdl-js-slider range trigger-submit-low" th:name="priceLow"
                                   type="range"
                                   name="priceLow" id="sliderLow" min="0" th:max="${searchModel.getPriceHigh()}"
                                   value="0" step="10" style="width: 250px;">
                            <output class="bubble"></output>
                        </div>
                        <p class="slider-low-input" id="sliderLowInput"
                           style="font-size: x-large; color: dodgerblue; min-width: 150px"
                           th:text="'€ ' + ${searchModel.getPriceLow()}"></p>
                    </form>
                    <div class="mdl-textfield__label sorting-text slider-high slider-high-title">select maximum
                        price
                    </div>
                    <form class="search-filters slider-high" method="get" th:action="@{/search/pricehigh/}"
                          id="priceHighForm">
                        <div class="range-wrap">
                            <input class="mdl-slider mdl-js-slider range trigger-submit-high" type="range"
                                   th:name="priceHigh"
                                   id="sliderHigh" name="priceHigh" min="0" th:max="${searchModel.getPriceHigh()}"
                                   value="100000" step="10" style="width: 250px;">
                            <output class="bubble"></output>
                        </div>
                        <p class="slider-high-input" id="sliderHighInput"
                           style="font-size: x-large; color: dodgerblue; min-width: 150px"
                           th:text="'€ ' + ${searchModel.getPriceHigh().intValue()}"></p>
                    </form>
                    <script th:inline="javascript">
                        document.getElementById("sliderLow").oninput = function () {
                            document.getElementById("sliderLowInput").innerHTML = document.getElementById("sliderLow").value;
                        }

                        document.getElementById("sliderHigh").oninput = function () {
                            document.getElementById("sliderHighInput").innerHTML = document.getElementById("sliderHigh").value;
                        }

                        const sliderTriggerLow = document.querySelector('.trigger-submit-low');
                        const sliderTriggerHigh = document.querySelector('.trigger-submit-high');

                        sliderTriggerLow.addEventListener('change', function () {
                            document.getElementById("priceLowForm").submit();
                        });

                        sliderTriggerHigh.addEventListener('change', function () {
                            document.getElementById("priceHighForm").submit();
                        })

                        const allRanges = document.querySelectorAll(".range-wrap");
                        allRanges.forEach(wrap => {
                            const range = wrap.querySelector(".range");
                            const bubble = wrap.querySelector(".bubble");

                            range.addEventListener("input", () => {
                                setBubble(range, bubble);
                            });
                            setBubble(range, bubble);
                        });

                        function setBubble(range, bubble) {
                            const val = range.value;
                            const min = range.min ? range.min : 0;
                            const max = range.max ? range.max : 100;
                            const newVal = Number(((val - min) * 100) / (max - min));
                            bubble.innerHTML = val;

                            // Sort of magic numbers based on size of the native UI thumb
                            bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
                        }
                    </script>
                    <!--description-search-->
                    <div class="searchbar description search-filters">
                        <form class="searchbar" id="searchDescriptionForm" method="get"
                              th:action="@{/search/description/}">
                            <em class="material-icons description-icon">search</em>
                            <input th:if="${searchModel.description == null || searchModel.description == ''}"
                                   class="searchbar-input description-search" type="text" id="descriptionNull"
                                   th:name="description"
                                   placeholder="Search for a product description here...">
                            <input th:if="${searchModel.description != null && searchModel.description != ''}"
                                   class="searchbar-input description-search" type="text" id="descriptionEntered"
                                   th:name="description"
                                   th:placeholder="${searchModel.getDescription()}">
                        </form>
                    </div>
                    <!--category-filter-->
                    <select onchange="selectCategory(this)" class="category-dropdown category-select"
                            id="categorySelect" name="categorySelect" style="margin-top: 365px">
                        <option disabled selected value="none" style="color: black">Search for a category here...
                        </option>
                        <option th:each="category : ${searchModel.getCategories()}" style="color: black"
                                th:value="${category}"
                                th:text="${category.name}">
                        </option>
                    </select>
                    <script th:inline="javascript">
                        function selectCategory(selectedCategory) {
                            const category = selectedCategory.options[selectedCategory.selectedIndex].text;
                            location = "/search/category/?category=" + category;
                        }
                    </script>
                    <div class="selected-categories" th:if="${searchModel.selectedCategories.size() > 0}">
                        <div th:each="selectedCategory, index : ${searchModel.selectedCategories}">
                            <div class="category-remove" onclick="deleteCategory(this)" th:id="${index.count}">
                                <em
                                        class="material-icons"
                                        style="padding-right: 0; transform: rotateY(-180deg)">backspace</em>
                                <div class="category-element-remove"
                                     th:id="${'selectedCategoryText' + index.count}"
                                     th:value="${selectedCategory}"
                                     th:text="${selectedCategory}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        function deleteCategory(element) {
                            const clickedElement = element.getAttribute('id');
                            const category = document.getElementById('selectedCategoryText' + clickedElement).innerHTML;
                            location = "/search/delete/?category=" + category;
                        }
                    </script>
                    <!--star-rating-filter-->
                    <select onchange="selectStarRating(this)" class="category-dropdown category-select"
                            id="starRatingSelect" name="starRatingSelect">
                        <option disabled selected value="none" style="color: black"
                                th:text="${searchModel.averageRating == null} ? 'Select minimum rating here...' : 'Selected rating = ' + ${searchModel.averageRating.intValue()}">
                            Select a star rating here...
                        </option>
                        <option th:each="starValue : ${searchModel.getStarRatingValues()}" style="color: black"
                                th:value="${starValue}"
                                th:text="${starValue.intValue()}">
                        </option>
                    </select>
                    <script th:inline="javascript">
                        function selectStarRating(selectedStarRating) {
                            const starRatingValue = selectedStarRating.options[selectedStarRating.selectedIndex].text;
                            location = "/search/star_rating/?rating=" + starRatingValue;
                        }
                    </script>
                    <form class="search-filters reset-filters" method="get" th:action="@{/products}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--blue mdl-color-text--white"
                                style="margin-top: 80px">
                            <em class="material-icons">clear</em>Reset all filters
                        </button>
                    </form>
                    <!--admin-archived-search-switch-->
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="search-filters admin-archived-switch">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="searchSwitch">
                            <input onclick="toggleSwitch(this)" type="checkbox" id="searchSwitch" name="searchSwitch"
                                   th:value="${searchModel.isArchivedSearchSwitch()}" class="mdl-switch__input"
                                   th:attr="checked=${searchModel.isArchivedSearchSwitch()}">
                            <span class="mdl-switch__label"></span>
                        </label>
                        <div class="admin-archived-switch-text">archived product search</div>
                    </div>
                    <script th:inline="javascript">
                        function toggleSwitch(element) {
                            const archivedSearch = element.value;
                            location = "/admin/toggle/?searchSwitch=" + archivedSearch;
                        }
                    </script>
                </li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>