<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>DevShop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link type="text/css" href="../static/css/productDetail.css" th:href="@{/css/productDetail.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="fragments/header :: header">...</div>
    <main class="mdl-layout__content">
        <div class="product-detail">
            <span class="mdl-layout-title">[[${product.name}]]</span>
            <ul class="product-list-item mdl-list mdl-color--grey-100 mdl-shadow--8dp">
                <li class="mdl-list__item mdl-list__item--three-line product-tile">
                    <span class="mdl-list__item-primary-content">
                        <em class="material-icons mdl-list__item-avatar"
                            style="width: 140px; height: 140px">photo</em>
                        <span class="mdl-list__item-text-body"
                              style="font-size: x-large; padding-top: 30px; line-height: 25px">
                            [[${{product.description}}]]
                        </span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-list__item-text-body"
                              style="font-size: x-large; padding-top: 55px; padding-bottom: 30px"
                              th:text="'€ ' + ${product.price}">Product Price</span>
                            <a th:if="${product.archived == false}" class="mdl-list__item-secondary-action" href="#">
                                <form method="post" th:object="${product}"
                                      th:action="@{/products/details/addtocart/{id}(id=${product.id})}">
                            <input hidden id="productId" name="id" th:value="${product.id}"/>
                            <span sec:authorize="!hasRole('ROLE_ADMIN')" class="mdl-list__item-secondary-action">
                                    <button th:disabled="${product.totalInCart > 0}">
                                        <em th:if="${product.totalInCart == 0}" class="material-icons cart-icon">add_shopping_cart</em>
                                        <em th:if="${product.totalInCart > 0}"
                                            class="material-icons cart-icon-disabled">add_shopping_cart</em>
                                    </button>
                                </span>
                        </form>
                            </a>
                    </span>
                    <!--starring-->
                    <div data-th-title="'Click to submit YOUR rating'" th:if="${product.averageRating != 0}">
                        <div class="personal-rating" th:if="${rating != null && rating.getRating() > 0}"
                             th:text="'Your rating: ' + ${rating.getRating()}"></div>
                        <div style="margin: 0; padding: 0; background: #262626" onclick="submitRating()">
                            <input hidden th:value="${product.averageRating}" id="averageRating">
                            <div sec:authorize="!hasRole('ROLE_ADMIN')" class="rating">
                                <input class="star" type="radio" name="star" id="star1">
                                <label for="star1"></label>
                                <input class="star" type="radio" name="star" id="star2">
                                <label for="star2"></label>
                                <input class="star" type="radio" name="star" id="star3">
                                <label for="star3"></label>
                                <input class="star" type="radio" name="star" id="star4">
                                <label for="star4"></label>
                                <input class="star" type="radio" name="star" id="star5">
                                <label for="star5"></label>
                            </div>
                            <!--the copy of the starfields has nothing to do with function, only with placement because of the admin buttons-->
                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="rating" style="top: 41%">
                                <input class="star" type="radio" name="star" id="star11">
                                <label for="star11"></label>
                                <input class="star" type="radio" name="star" id="star22">
                                <label for="star22"></label>
                                <input class="star" type="radio" name="star" id="star33">
                                <label for="star33"></label>
                                <input class="star" type="radio" name="star" id="star44">
                                <label for="star44"></label>
                                <input class="star" type="radio" name="star" id="star55">
                                <label for="star55"></label>
                            </div>
                        </div>
                        <div class="personal-rating overall-rating"
                             th:text="'(' + ${product.averageRating} + ') ' + ${product.ratings.size() + ' users voted'}"></div>
                    </div>
                    <script th:inline="javascript">
                        const averageRating = document.getElementById('averageRating');
                        const productId = document.getElementById('productId');
                        const rating = Math.round(averageRating.value);
                        const starsMax = 5;
                        const stars = document.querySelectorAll('.star');

                        window.onload = () => {
                            getRating();
                        }

                        /*
                         * the stars consist of two layers on top of each other, one of which is inverted.
                         * so we're using a reverse for-loop to check the stars (which are radiobuttons)
                         */
                        function getRating() {
                            for (let i = starsMax; i >= rating; i--) {
                                stars[i - 1].checked = true
                            }
                        }

                        function submitRating() {
                            let count = 0;
                            for (let i = starsMax; i >= rating; i--) {
                                if (stars[i - 1].checked === true) {
                                    count++;
                                }
                            }
                            const form = document.createElement('form');
                            form.method = 'post';
                            form.action = "/products/" + productId.value + "/ratings/" + count;
                            document.body.appendChild(form);
                            form.submit();
                        }
                    </script>
                </li>
            </ul>
            <div sec:authorize="hasRole('ROLE_ADMIN')"
                 style="display: flex; flex-direction: row; justify-content: space-between; max-width: 1060px;">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--green mdl-color-text--white"
                   th:href="@{/admin/product/{id}/edit(id=${product.id})}"><em class="material-icons">sync_alt</em>Update
                    Product</a>
                <a th:if="${product.archived == false}"
                   class="mdl-button show-modal mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--red mdl-color-text--white">
                    <em class="material-icons">archive</em>Archive Product</a>
            </div>
        </div>
        <!-- Chip -->
        <div style="margin-top: 200px; margin-left: 450px" th:if="${status != null}">
            <br>
            <span class="mdl-chip mdl-chip--deletable">
                    <span class="mdl-chip__text" th:text="${status.label}">Chip</span>
                    <button class="mdl-chip__action" type="button"><i class="material-icons">info</i></button>
                </span>
        </div>
    </main>
</div>
<!--archive add-on-->
<div class="logo" th:if="${product.archived == true}">
    ARCHIVED
</div>
<!--popup for delete button-->
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Archive this product?</h4>
    <div class="mdl-dialog__content">
        <p>
            It will be available when viewing history files, but it won't show up in the main product overview anymore.
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button"
                class="mdl-button close  mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--grey mdl-color-text--white">
            <em class="material-icons">undo</em>Back
        </button>
        <form method="post" th:object="${product}" th:action="@{/products/details/{id}(id=${product.id})}">
            <button type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--red mdl-color-text--white">
                <em class="material-icons">archive</em>Archive Product
            </button>
        </form>
    </div>
</dialog>
<!--logic for showing popup-->
<script>
    var dialog = document.querySelector('dialog');
    var showModalButton = document.querySelector('.show-modal');
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showModalButton.addEventListener('click', function () {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });
</script>
</body>
</html>