<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DevShop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link type="text/css" href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link type="text/css" href="../static/css/cartDetail.css" th:href="@{/css/cartDetail.css}" rel="stylesheet"/>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="fragments/header :: header">...</div>
    <main class="mdl-layout__content">
        <div class="page-content" th:object="${cart}">
            <span class="mdl-layout-title" id="title">Cart overview</span>
            <label th:if="${cart.getProducts().size() < 1}">No products in your cart, please use the overview or search
                to discover products to add to your cart.</label>
            <ul class="mdl-list">
                <li class="mdl-list__item md-list__item-mdl-color--grey-100 mdl-shadow--8dp cart-product-item-flex"
                    th:each="product,index : ${cart.getProducts()}">
                    <a th:href="@{/products/details/{id}(id=${product.id})}"
                       class="cart-detail-href cart-product-item-flex-product-title" style="color: black;">
                        <label class="cart-product-item-title cart-detail-href"
                               th:text="${product.name}">Product Name</label>
                    </a>
                    <div class="cart-product-item-flex-product-price">
                        <label class="cart-product-item-content"
                               th:text="'€ ' + ${product.price}">€ 999.99</label>
                    </div>
                    <div class="cart-product-item-flex-product-minus">
                        <!-- show the regular link when numberInCart is > 1 -->
                        <span th:if="${product.totalInCart > 1}">
                            <a th:href="@{/users/cart/details/minus_one/{id}(id=${product.id})}"
                               style="text-decoration: none;">
                                <label class="cart-product-item-content cart-detail-href">
                                    <em class="material-icons" style="font-size: 20px; padding-top: 9px">remove_circle_outline</em>
                                </label>
                            </a>
                        </span>
                        <!-- if above is not true show this link that just links to the modal by the css class name -->
                        <span th:unless="${product.totalInCart > 1}">
                            <a style="text-decoration: none;">
                                <label class="cart-product-item-content cart-detail-href ">
                                    <em th:id="${'minusid'+index.count}" class="material-icons show-modal"
                                        style="font-size: 20px; padding-top: 9px">remove_circle_outline</em>
                                </label>
                            </a>
                        </span>
                    </div>
                    <div class="cart-product-item-flex-product-count">
                        <label class="cart-product-item-content"
                               th:text="${product.totalInCart}">99</label>
                    </div>
                    <div class="cart-product-item-flex-product-plus">
                        <a th:href="@{/users/cart/details/plus_one/{id}(id=${product.id})}"
                           style="text-decoration: none;">
                            <label class="cart-product-item-content cart-detail-href">
                                <em class="material-icons"
                                    style="font-size: 20px; padding-top: 9px">add_circle_outline</em>
                            </label>
                        </a>
                    </div>
                    <div class="cart-product-item-flex-product-total">
                        <label class="cart-product-item-title"
                               th:text="'€ ' + ${product.totalInCart*product.price}">€
                            999.99</label>
                    </div>
                    <div class="cart-product-item-flex-product-delete">
                        <a th:href="@{/users/cart/details/delete/{id}(id=${product.id})}"
                           style="text-decoration: none;">
                            <label class="cart-product-item-content cart-detail-href">
                                <em class="material-icons"
                                    style="font-size: 26px; padding-top: 9px">delete_outline</em>
                            </label>
                        </a>
                    </div>
                    <dialog th:if="${product.totalInCart == 1}" th:id="${'dialogid'+index.count}" class="mdl-dialog">
                        <h4 class="mdl-dialog__title">Remove this product from the Cart?</h4>
                        <div class="mdl-dialog__content">
                            <p>
                                There's only one item of this product in your cart, do you want to remove this
                                product from your cart or leave it in the cart?
                            </p>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button type="button"
                                    class="mdl-button close  mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--grey mdl-color-text--white">
                                <em class="material-icons">undo</em>Back
                            </button>
                            <form method="get"
                                  th:action="@{/users/cart/details/minus_one/{id}(id=${product.id})}">
                                <button type="submit"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--red mdl-color-text--white">
                                    <em class="material-icons">clear</em>Remove Product
                                </button>
                            </form>
                        </div>
                    </dialog>
                </li>
            </ul>
        </div>
        <div class="search-filters search-filters-list-box md-list__item-mdl-color--grey-100 mdl-shadow--8dp"
             th:object="${payment}">
            <span class="mdl-layout-title mdl-title__margin">Payment</span>
            <label class="mdl-layout-title mdl-title__margin"
                   th:text="'Total price: € ' + ${payment.getTotalCartPrice()}">Total Price
            </label>
            <div class="mdl-cell mdl-cell--2-col checkbox_layout  mdl-checkbox__field">
                <select class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect ">
                    <option class="mdl-checkbox__input" th:each="paymentoption: ${payment.getPaymentOptions()}">
                        <label class="mdl-checkbox__label" th:text="${paymentoption.description}">
                        </label>
                    </option>
                </select>
            </div>
            <form method="post" th:object="${cart}">
                <button type="submit"
                        class="mdl-button show-modal mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button mdl-color--blue mdl-title__margin"
                        th:disabled="${status != null && status.label.equals('Success') && cart.getProducts().isEmpty() }">
                    Checkout
                </button>
            </form>
            <div th:if="${status != null}">
                <br>
                <span class="mdl-chip mdl-chip--deletable">
                    <span class="mdl-chip__text" th:text="${status.label}">Chip</span>
                    <button type="button" class="mdl-chip__action"><i class="material-icons">info</i></button>
                </span>
            </div>
        </div>
    </main>
</div>
<script>
    const allApplicableDialogs = document.querySelectorAll('dialog');
    const allActiveMinusButtons = document.getElementsByClassName("show-modal");

    for (applicableDialog of allApplicableDialogs) {
        if (!applicableDialog.showModal) {
            dialogPolyfill.registerDialog(applicableDialog);
        }
    }

    for (let i = 0; i < allActiveMinusButtons.length; i++) {
        const number = allActiveMinusButtons[i].getAttribute('id').replace('minusid', '');
        const correspondingDialog = document.getElementById('dialogid' + number);
        allActiveMinusButtons[i].addEventListener('click', function () {
            correspondingDialog.showModal();
        });
        correspondingDialog.querySelector('.close').addEventListener('click', function () {
            correspondingDialog.close();
        });
    }
</script>
</body>
</html>