<!DOCTYPE html>
<html lang="en" rel="stylesheet"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/layout.css" rel="stylesheet" th:href="@{/css/layout.css}" type="text/css"/>
<!--logic for spinner-->
<script>
    $(function () {
        var overflow = $('body,html, .spinner');
        $(".spinner").addClass('spinner-on');
        $(".spinner").fadeOut(1, function () {
            $("body").fadeIn(1);
            overflow.css('overflow', 'visible');
        });
    });
</script>
<header class="mdl-layout__header">
    <div class="spinner">
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>
    <div class="mdl-layout__header-row">
        <a th:href="@{/products}">
            <em class="material-icons home-logo" style="font-size: 36px">home</em></a>
        <!-- Title -->
        <span class="mdl-layout-title">DevShop</span>
        <div class="searchbar">
            <form class="searchbar" id="searchForm" method="get"
                  th:action="@{/search/}">
                <em class="material-icons search-logo md-48">search</em>
                <input class="searchbar-input" type="text" id="searchRequest"
                       th:name="searchRequest"
                       placeholder="Search for a product here...">
            </form>
        </div>
        <div style="position: absolute; left: 42%">
            <!-- Logged in user -->
            <span class="mdl-layout-title" sec:authorize="hasRole('ROLE_ADMIN')||hasRole('ROLE_USER')"
                  th:text="|Welcome ${#authentication.getName()}|"></span>
        </div>
        <div style="position: absolute; right: 20px;">
            <form method="get" sec:authorize="!hasRole('ROLE_ADMIN')&&!hasRole('ROLE_USER')" th:action="@{/auth/login}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--blue mdl-color-text--white">
                    Login
                </button>
            </form>
            <form method="get" sec:authorize="hasRole('ROLE_ADMIN')||hasRole('ROLE_USER')"
                  th:action="@{/perform_logout}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--blue mdl-color-text--white">
                    Logout
                </button>
            </form>
        </div>
        <div style="position: absolute; right: 120px;">
            <form method="get" sec:authorize="!hasRole('ROLE_ADMIN')&&!hasRole('ROLE_USER')" th:action="@{/register}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--blue mdl-color-text--white">
                    Register
                </button>
            </form>
        </div>
        <div style="position: absolute; right: 120px;">
            <form method="get" sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/admin/overview}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color--blue mdl-color-text--white">
                    Admin
                </button>
            </form>
        </div>
    </div>
</header>