.page-content {
    padding-left: 100px;
    padding-right: 50px;
}

.checkbox_layout {
    padding-top: 22px;
    color: lightgray;
}

.home-logo {
    color: white;
}

.mdl-layout-title {
    font-weight: bold;
}

.material-icons {
    padding-right: 10px;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: red;
}

.mdl-textfield__label:after {
    background-color: red;
}

.mdl-layout__content {
    padding-top: 30px;
}

.product-list-item {
    width: 750px;
}

.mdl-list__item-primary-content {
    width: 85%;
}



