/*CSS in common with layout.css*/

.home-logo {
    color: white;
}

.cart-icon {
    padding-top: 5px;
    font-size: 36px;
    padding-left: 10px;
    color: red;
}

.cart-icon-disabled {
    padding-top: 5px;
    font-size: 36px;
    padding-left: 10px;
    color: slategray;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: red;
}

.mdl-layout-title {
    font-weight: bold;
    font-size: 30px;
}

.mdl-layout__content {
    padding-top: 30px;
}

.material-icons {
    padding-right: 10px;
}

.mdl-textfield__label:after {
    background-color: red;
}

.product-detail {
    position: relative;
    left: 18%;
    top: 15%;
    padding-left: 100px;
    padding-right: 50px;
}

.searchbar {
    position: relative;
    left: 3%;
    width: 430px;
    z-index: 1;
    background: white;
    border-radius: 25px;
    display: flex;
}

.searchbar-input[type=text] {
    width: 90%;
    margin: 8px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: larger;
}

.search-logo {
    color: lightgray;
    padding-top: 6px;
}

html, body, .spinner {
    height: 100%;
    overflow: hidden;
}

.mdl-spinner {
    height: 100px;
    width: 100px;
}

.spinner {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}

.spinner-on {
    display: flex;
}

.mdl-list__item-primary-content {
    width: 85%;
    font-size: xx-large;
    height: 0;
    padding-top: 25px;
}

.product-tile {
    height: 185px;
    padding-bottom: 15%;
}

.product-list-item {
    width: 60%;
    min-height: 200px;
}

.mdl-dialog {
    top: 45%;
    width: 30%;;
}

.mdl-dialog__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

/*file-specific CSS*/

.mdl-list__item-text-body {
    font-size: 40px;
}

.logo {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 350px;
    text-transform: uppercase;
    color: red;
    font-size: 80px;
    font-weight: bold;
    transform: rotate(-35deg);
    z-index: 5;
}

.rating {
    position: absolute;
    /*top: 50%;*/
    top: 43%;
    left: 32%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
    margin-top: 100px;
}

.admin-rating {
    padding-bottom: 55px;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 40px;
    color: #101010;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 40px;
    color: #1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
    opacity: 1;
}

.personal-rating {
    position: absolute;
    margin-top: 150px;
    left: 355px;
    font-weight: bold;
    color: goldenrod;
}

.overall-rating {
    left: 760px;
}

.add-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1060px;
}

.talkbubble {
    position: relative;
    width: 800px;
    height: 85px;

    padding: 10px;
    border-radius: 20px;
    border: solid darkslategray;
    background: lightblue;
    margin: 10px;
}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;

    border-top: 13px solid transparent;
    border-right: 26px solid lightblue;
    border-bottom: 13px solid transparent;
}

.talkbubble textarea {
    position: inherit;
    width: inherit;
    height: inherit;
    background: inherit;

    margin: 0;
    padding: 0;

    border: none;
    resize: none;
}
